.fName {
    margin-bottom: 18px;
}

.selectO {
    margin-bottom: 18px;
}

.quantity {
    margin-bottom: 18px;
    /* width: 40%; */
}

.emailA {
    margin-bottom: 18px;
}

.textarea {
    margin-bottom: 18px;
}

.cardI{
    margin-bottom: 18px;
}

.cardT {
    margin-bottom: 18px;
    /* background-color: rgb(49, 49, 161); */
}

